@import 'colours';

#sidebar {
    display:none;
}

$headerHeight: 57px;
$smallNavTransform: calc(-4px - #{$headerHeight} * 4);

#small-header {
    display: block;
    position: relative;
    top:0px;
    height: $headerHeight;
    width: 100%;
    background-color: $headerBg;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    z-index: 1;

    h1 {
        float: left;
        margin: 0px;
        font-weight: 200;
        font-size: 24px;
        height: $headerHeight;
        line-height: calc( #{$headerHeight} - 2px);
        letter-spacing: 6px;
    }

    #small-logo {
        float: left;
        margin-left: 15px;
        height:$headerHeight; width: 40px;
        background: url('../img/logo.svg') center center no-repeat;
        background-size: 30px auto;
    }

    #hamburger {
        float: right;
        margin-right: 15px;
        height:40px; width: 40px;
        position: relative;
        top: 10px;
        background: url('../img/hamburger.svg') center center no-repeat;
        transition: all 0.3s;
        &:active {
            border-radius: 100px;
            background-color: gray;
        }
    }
}

#small-nav {
    display: block;
    width: 100%;
    background-color: $headerBg;
    transform: translate(0px, $smallNavTransform);
    transition: transform 0.3s;

    &.show {
        transform: translate(0px, 0px);
    }

    a {
        color: white;
        display: block;
        height: 57px;
        line-height: 57px;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        border-top: 1px solid #3D3D3D;

        .icon {
            float: left;
            width: 60px; height: 100%;
            background-size: 30px auto !important;
        }
    }
}

#content {
    max-width: 100%;
    min-height: calc(100% - #{1 * $headerHeight + 40px});
    margin-top: $smallNavTransform;
    background-color: gray;
}
