<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:600,400,200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <!-- font-family: 'Raleway', sans-serif; -->
    <!-- font-family: 'Source Sans Pro', sans-serif; -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 1100px)" type="text/css" href="{% static 'css/medium.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 580px)" type="text/css" href="{% static 'css/small.css' %}">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <title>Inflate</title>
</head>
<body>
    <!-- Only visible on smaller screens for ex. mobile -->
    <header id="small-header">
        <script type="text/javascript">
            $( document ).ready(function(){
                $('#hamburger').click(function(){
                    var nav = $("#small-nav");
                    if ($(nav).hasClass('show')) {
                        $(nav).removeClass('show');
                    } else {
                        $(nav).addClass('show');
                    }
                });
            });
        </script>
        <div id="small-logo"></div>
        <h1>INFLATE</h1>
        <div id="hamburger"></div>
    </header>
    <nav id="small-nav">
        <a href="#"> <div class="icon home-icon"></div> Home</a>
        <a href="#"> <div class="icon forex-icon"></div> Forex</a>
        <a href="#"> <div class="icon oil-icon"></div> Oil</a>
        <a href="#"> <div class="icon other-icon"></div> Other</a>
    </nav>

    <div id="sidebar">
        <div id="logo">
             <div class="label">INFLATE</div>
        </div>
        <a href="#" class="icon home-icon">
            <div class="label">Home</div>
        </a>
        <a href="#" class="icon forex-icon">
            <div class="label">Forex</div>
        </a>
        <a href="#" class="icon oil-icon">
            <div class="label">Oil</div>
        </a>
        <a href="#" class="icon other-icon">
            <div class="label">Other</div>
        </a>
    </div>
    <div id="content">
        At ourselves direction believing do he departure. Celebrated her had sentiments understood are projection set. Possession ye no mr unaffected remarkably at. Wrote house in never fruit up. Pasture imagine my garrets an he. However distant she request behaved see nothing. Talking settled at pleased an of me brother weather.

Manor we shall merit by chief wound no or would. Oh towards between subject passage sending mention or it. Sight happy do burst fruit to woody begin at. Assurance perpetual he in oh determine as. The year paid met him does eyes same. Own marianne improved sociable not out. Thing do sight blush mr an. Celebrated am announcing delightful remarkably we in literature it solicitude. Design use say piqued any gay supply. Front sex match vexed her those great.

To sure calm much most long me mean. Able rent long in do we. Uncommonly no it announcing melancholy an in. Mirth learn it he given. Secure shy favour length all twenty denote. He felicity no an at packages answered opinions juvenile.

Dependent certainty off discovery him his tolerably offending. Ham for attention remainder sometimes additions recommend fat our. Direction has strangers now believing. Respect enjoyed gay far exposed parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy you numerous securing.

Paid was hill sir high. For him precaution any advantages dissimilar comparison few terminated projecting. Prevailed discovery immediate objection of ye at. Repair summer one winter living feebly pretty his. In so sense am known these since. Shortly respect ask cousins brought add tedious nay. Expect relied do we genius is. On as around spirit of hearts genius. Is raptures daughter branched laughter peculiar in settling.

Respect forming clothes do in he. Course so piqued no an by appear. Themselves reasonable pianoforte so motionless he as difficulty be. Abode way begin ham there power whole. Do unpleasing indulgence impossible to conviction. Suppose neither evident welcome it at do civilly uncivil. Sing tall much you get nor.

Performed suspicion in certainty so frankness by attention pretended. Newspaper or in tolerably education enjoyment. Extremity excellent certainty discourse sincerity no he so resembled. Joy house worse arise total boy but. Elderly up chicken do at feeling is. Like seen drew no make fond at on rent. Behaviour extremely her explained situation yet september gentleman are who. Is thought or pointed hearing he.

From they fine john he give of rich he. They age and draw mrs like. Improving end distrusts may instantly was household applauded incommode. Why kept very ever home mrs. Considered sympathize ten uncommonly occasional assistance sufficient not. Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.

Procuring education on consulted assurance in do. Is sympathize he expression mr no travelling. Preference he he at travelling in resolution. So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address did showing because sitting replied six. Had arose guest visit going off child she new.

Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an. She projection advantages resolution son indulgence. Part sure on no long life am at ever. In songs above he as drawn to. Gay was outlived peculiar rendered led six.


    </div>
    <footer>
        <div onclick="location.href='http://github.com/ch00kz';" class="icon github-icon"></div>
        <div onclick="location.href='https://plus.google.com/+AndrewThomas-ch00kz/';" class="icon google-plus-icon"></div>
        <div onclick="location.href='http://facebook.com/ch00kz';" class="icon facebook-icon"></div>
        <div onclick="location.href='http://twitter.com/ch00kz';" class="icon twitter-icon"></div>
        <div onclick="location.href='mailto:andr3w.l.thomas@gmail.com';" class="icon email-icon"></div>
    </footer>
</body>
</html>